absl-py  
attrs  
certifi  
cffi  
charset-normalizer  
click  
contourpy  
cycler  
flatbuffers  
fonttools  
gTTS  
idna  
jax  
jaxlib  
joblib  
kiwisolver  
matplotlib  
mediapipe  
ml-dtypes  
numpy  
opencv-contrib-python  
opencv-python  
opt-einsum  
packaging  
pandas  
pillow  
protobuf  
pycparser  
pygame  
pyparsing  
python-dateutil  
pytz  
requests  
scikit-learn  
scipy  
six  
sounddevice  
threadpoolctl  
tzdata  
urllib3  
